In [97]:
# Imports 
import pandas as pd
import numpy as np
import shutil
import glob
import os

In [22]:
# Get glossary 
column_names = ['title', 'chapters', 'stars', 'tags', 'followers', 'pages', 'views', 'date']
glossary =  pd.read_csv('../data/index.csv' ,delimiter=';', names = column_names)

In [23]:
glossary

,title,chapters,stars,tags,followers,pages,views,date
0,Mother of Learning,108,4.83,Original Adventure Fantasy Mystery Magic,12387,2930,6885030,"FEBRUARY 10, 2020"
1,Beware Of Chicken,77,4.82,Original Adventure Comedy Fantasy Romance Male...,14836,531,3213761,"APRIL 19, 2021"
2,Super Minion,59,4.79,Original Action Sci-fi Non-Human lead Secret I...,11233,999,3088026,"NOVEMBER 30, 2020"
3,The Perfect Run,77,4.79,Original Adventure Comedy Mystery Sci-fi Anti-...,9051,907,1673316,"APRIL 17, 2021"
4,A Journey of Black and Red,112,4.73,Original Action Adventure Fantasy Historical F...,6727,2086,1754156,"APRIL 16, 2021"
...,...,...,...,...,...,...,...,...
1125,Fantasy Royale,28,4.38,Original Action Adventure Comedy Fantasy Anti-...,327,492,91042,"JUNE 08, 2018"
1126,Dragon Guardian,7,4.55,Original Action Fantasy Magic Male Lead Non-Hu...,332,93,36184,"JANUARY 07, 2017"
1127,Scritch,23,4.85,Original Adventure Comedy Fantasy Female Lead ...,89,132,8166,"FEBRUARY 08, 2021"
1128,Nigmus Online [2nd Draft Complete],10,4.40,Original Adventure Fantasy LitRPG Magic Multip...,502,111,75743,"JANUARY 22, 2017"
1129,The Infinity Project,90,4.22,Original Action Adventure Fantasy Horror Grimd...,754,1307,316305,"MAY 10, 2020"

In [26]:
# get all unique genre s
genres = dict()
def unique_genres(x):
    for g in x.split(' '):
        g = g.lower()
        if g not in genres:
            genres[g] = 0
        genres[g] += 1
        
glossary.tags.apply(lambda x: unique_genres(x))

genres

{'original': 1069,
 'adventure': 842,
 'fantasy': 1717,
 'mystery': 37,
 'magic': 725,
 'comedy': 297,
 'romance': 200,
 'male': 591,
 'lead': 2139,
 'martial': 197,
 'arts': 197,
 'portal': 250,
 '/': 250,
 'isekai': 250,
 'reincarnation': 262,
 'xianxia': 73,
 'action': 758,
 'sci-fi': 278,
 'non-human': 301,
 'secret': 117,
 'identity': 117,
 'super': 47,
 'heroes': 47,
 'villainous': 45,
 'anti-hero': 240,
 'genetically': 13,
 'engineered': 26,
 'loop': 10,
 'strong': 423,
 'time': 15,
 'travel': 15,
 'historical': 30,
 'female': 338,
 'urban': 85,
 'tragedy': 66,
 'attractive': 11,
 'mc': 11,
 'low': 73,
 'multiple': 201,
 'characters': 201,
 'mythos': 84,
 'progression': 102,
 'slice': 207,
 'of': 207,
 'life': 312,
 'supernatural': 302,
 'war': 73,
 'and': 73,
 'military': 73,
 'wuxia': 51,
 'horror': 65,
 'high': 347,
 'litrpg': 479,
 'ruling': 60,
 'class': 60,
 'strategy': 206,
 'satire': 14,
 'fan': 61,
 'fiction': 61,
 'drama': 164,
 'gamelit': 247,
 'psychological': 121,
 'grimdark': 129,
 'virtual': 127,
 'reality': 127,
 'cyberpunk': 48,
 'school': 105,
 'dungeon': 115,
 'artificial': 13,
 'intelligence': 13,
 'dystopia': 11,
 'post': 70,
 'apocalyptic': 70,
 'contemporary': 33,
 'gender': 64,
 'bender': 64,
 'soft': 20,
 'harem': 109,
 'short': 23,
 'story': 23,
 'reader': 19,
 'interactive': 19,
 'steampunk': 24,
 'space': 36,
 'opera': 36,
 'first': 7,
 'contact': 7,
 'technologically': 13,
 'hard': 8,
 'sports': 5}

In [45]:
# Remove pointless keys 
del genres['fantasy']
del genres['/']
del genres['lead']
del genres['of']
del genres['original']

In [59]:
# round start up 
glossary['stars'] = glossary.stars.apply(lambda x: round(x, 1))

---
## Select Books of Intrest

In [77]:
# Get unique genere for model 
dystopia = glossary[glossary.tags.apply(lambda x: True if 'dystopia' in x.lower() else False)]
dystopia.describe().T[['mean', 'min', 'max', 'count']]

                    mean      min       max  count
chapters       77.272727      5.0     135.0   11.0
stars           4.490909      4.3       4.8   11.0
followers    1139.818182    100.0    2691.0   11.0
pages         536.090909     17.0    1074.0   11.0
views      224744.272727  13021.0  603679.0   11.0

In [78]:
dungeon = glossary[glossary.tags.apply(lambda x: True if 'dungeon' in x.lower() else False)]
dungeon.describe().T[['mean', 'min', 'max', 'count']]

                    mean     min        max  count
chapters       66.626087     1.0      421.0  115.0
stars           4.428696     4.2        4.7  115.0
followers    1760.356522   231.0    10731.0  115.0
pages         601.295652     0.0     4902.0  115.0
views      450118.478261  3054.0  5607893.0  115.0

In [79]:
martial = glossary[glossary.tags.apply(lambda x: True if 'martial' in x.lower() else False)]
martial.describe().T[['mean', 'min', 'max', 'count']]

                    mean     min         max  count
chapters       74.426396     1.0      1201.0  197.0
stars           4.468020     4.2         4.9  197.0
followers    1629.934010    76.0     14836.0  197.0
pages         702.248731     6.0     10490.0  197.0
views      815669.279188  2112.0  23650400.0  197.0

In [81]:
time = glossary[glossary.tags.apply(lambda x: True if 'time' in x.lower() else False)]
time.describe().T[['mean', 'min', 'max', 'count']]

                    mean      min        max  count
chapters       51.466667     11.0      167.0   15.0
stars           4.580000      4.3        4.8   15.0
followers    2023.800000    583.0     9051.0   15.0
pages         400.866667    100.0     1472.0   15.0
views      338529.800000  18755.0  1673316.0   15.0

In [80]:
litrpg = glossary[glossary.tags.apply(lambda x: True if 'litrpg' in x.lower() else False)]
litrpg.describe().T[['mean', 'min', 'max', 'count']]

                   mean   min         max  count
chapters   7.426096e+01   0.0      1557.0  479.0
stars      4.457829e+00   4.2         4.9  479.0
followers  2.142269e+03  44.0     16150.0  479.0
pages      7.509415e+02   0.0     26959.0  479.0
views      1.056470e+06   0.0  54148905.0  479.0

In [110]:
# Make training data set for gpt2 
# simply copy books to other folder 
def make_training_book(indices, name):
    # make directroy 
    path = f'../data/train/{name}'
    os.mkdir(path)
    
    for book in indices:
        shutil.copy2(f'../data/books/book_{book + 1}', path)

In [111]:
make_training_book(dystopia.index, 'dystopia')
make_training_book(litrpg.index, 'litrpg')
make_training_book(martial.index, 'martial')
make_training_book(dungeon.index, 'dungeon')
make_training_book(time.index, 'time')

In [113]:
%ls ../data/train/

dungeon/  dystopia/  litrpg/  martial/  time/